<h1>My History</h1>
<br/>
<div class="row">
  <% @posts.each do |post| %>
    <% if current_user.id == post.userid%>
    <div class="col-sm-4">
      <div class="card shadow mb-5 rounded border-secondary mb-3">
        <div class="card-header text-center border-secondary p-3 fw-bolder">
          <%= post.title %>
        </div>
        <div class="card-body">
          <p class="card-text fw-light"><%= post.content %></p>
          <br/>
          <p class="card-text text-end"><small class="text-muted fw-bold fst-italic">Last updated
           <% t=((Time.now - post.updated_at) ).to_i%> 
            <% if (t/(60*60*24)) >1 %>
              <%= (t/(60*60*24)) %> days ago.
            <% elsif (t/(60*60*24)) >0 %>
              <%= (t/(60*60*24)) %> day ago.
            <% elsif (t/(60*60)) >1 %>
              <%= (t/(60*60)) %> hours ago.
            <% elsif (t/(60*60)) >0 %>
              <%= (t/(60*60)) %> hour ago.
            <% elsif t/60 > 1 %>
              <%= (t/60) %> minutes ago.
            <% elsif t/60 > 0 %>
              <%= (t/60) %> minute ago.
            <% else %>  
              <%= t %> seconds ago.
           <% end %>
          </small></p>
          <br/>
          <div class="d-grid d-md-block text-center">
              <%= link_to 'Show', post , class:"btn btn-success btn-sm"%>
              <%= link_to 'Edit', edit_post_path(post), class:"btn btn-secondary btn-sm" %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?'},class:"btn btn-danger btn-sm" %>
          </div>
        </div>
        <div class="card-footer text-muted text-center border-secondary">
          <span>
            <p class="card-text text-center"><small class="text-muted"><span class="fw-bold text-success"><%= post.upvotes%></span>  Likes. <span class="fw-bold text-danger"><%= post.downvotes%></span> Dislikes.</small></p>
          </span>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path, class:"btn btn-outline-primary" %>